// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "components/review";
@import "components/review-card";

.flex {
  display: flex;
}
.flex-align {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search{
    text-align: center;
    display: inline-block;
}
.flat-card {
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
  margin: .5rem 0 1rem 0;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}


.flat-card-image {
  height: 180px;
  background-position: center;
  background-size: cover;
}

.flat-card-content {
  padding: 24px;
  background-color: #F8F9FA;
  height: 150px;
}

.flat-card-actions {
  position: relative;
  background-color: inherit;
  border-top: 1px solid rgba(160,160,160,0.2);
  padding: 16px 24px;
}

.flat-form {
  background-color: #F8F9FA;
  padding: 24px;
  border-radius: 3px;
}

.flat-show-card {
  background: #F8F9FA;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  border-radius: 3px;
}

.map {
  height: 350px;
  background-position: center;
  background-size: cover;
}

.margin-top-negative {
  margin-top: -75px;
}
.no-mb {
  margin-bottom: 0;
}

.flat-show-address {
  font-weight: 300;
  font-size: 20px;
  color: #333;
}

.days-until {
  font-size: 12px;
  color: #E29578
  ;
}

.booking-workspace-title{
  font-size: 20px;
  font-weight: 15px;
  color: #006D77;
}

.brand-primary{
  color: #006D77;
}

.booking-medium-text{
  font-size: 9px;
  font-weight: lighter;
  color: grey;
  display: inline-block;
  width: 190px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}

// .truncate {
//   width: 250px;
//   white-space: nowrap;
//   overflow: hidden;
//   text-overflow: ellipsis;
// }

.booking-small-text{
  font-size: 12px;
  font-weight: lighter;
  color: grey;
}

.bold{
  font-weight: 40px;
}
a.plain-link {
  color: inherit;
  text-decoration: none;
  transition: opacity 0.5s ease;
}
a:hover{
  opacity: 0.5;
}

.landing-page-title{
  font-weight: light;
  font-size: 80px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: lightgray;
}
.padding-landing{
  padding-top: 225px;
  padding-left: 20px;
  padding-bottom: 250px;
  margin-top: 0px;
}
.typing-effect {
  border-right: 2px solid #000;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  animation: typing 3s steps(30, end) forwards;
}
@keyframes typing {
  from { width: 0; }
  to { width: 32%; }
}
.landing-page-title-2{
  font-weight: light;
  font-size: 80px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:#E29578
}

.landing-page-image {
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2));
}

.new-booking-title{
  font-weight: bolder;
  font-size: 50px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}
.new-booking-title-2{
  font-weight: light;
  font-size: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #E29578;
}
.flex-container {
  display: flex;
  flex-direction: row-reverse;
}

.col-sm-5, .col-sm-7 {
  width: 50%;
}

.logo-image {
    width: 200px; /* or whatever size you want */
}

// @media screen and (min-height: 650px) {
//   #map {
//     position: fixed;
//     top: 50%;
//     left: 0;
//     width: 100%;
//     z-index: 1;
//   }
// }
.vertical-center {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}

.hidden {
  display: none;
  margin: 0;
}
